$device-threshold: 768px;
$container-width: 800px;

@mixin on-mobile() {
    @media screen and (max-width: $device-threshold - 1px) {
        @content;
    }
}

@mixin on-desktop() {
    @media screen and (min-width: $device-threshold) {
        @content;
    }
}

@mixin on-screen() {
    @media screen {
        @content;
    }
}

@mixin on-paper() {
    @media print {
        @content;
    }
}