pre[class*="language-"],
code[class*="language-"] {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 0.75rem;
    text-shadow: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

pre[class*="language-"] {
    overflow: auto;
}

pre[data-line] {
    position: relative;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #4d5f68;
}

.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #82b1ff;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #bd92ea;
}

.token.property,
.token.operator,
.token.entity,
.token.url,
.token.punctuation,
.token.function,
.token.regex,
.token.important,
.token.variable {
    color: #ffffff;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}