<template>
    <div id="app">
        <section-header/>
        <section-about-me/>
        <section-experience/>
        <section-technologies/>
        <section-projects/>
        <section-footer />
        <scroll-background/>
        <scroll-menu/>
    </div>
</template>

<script>

    import SectionHeader from '@/components/SectionHeader';
    import SectionAboutMe from '@/components/SectionAboutMe';
    import SectionExperience from '@/components/SectionExperience';
    import SectionTechnologies from '@/components/SectionTechnologies';
    import SectionProjects from '@/components/SectionProjects';
    import SectionFooter from '@/components/SectionFooter';
    import ScrollBackground from '@/components/ScrollBackground';
    import ScrollMenu from '@/components/ScrollMenu';

    export default {

        components: {
            SectionHeader,
            SectionAboutMe,
            SectionExperience,
            SectionTechnologies,
            SectionFooter,
            SectionProjects,
            ScrollBackground,
            ScrollMenu
        }

    };

</script>

<style lang="scss">

    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    html {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background: none;
        border: none;
    }

    body {
        position: relative;
        font-size: 1rem;
        text-align: left;
        color: $color-black;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        @include on-paper {
            width: 600px;
            margin: 0 auto;
        }
    }

    a {
        color: $color-primary;
        font-weight: bold;
        text-decoration: none;
    }

    @page {
        size: A4;
    }

    ::selection {
        background: rgba($color-black, 0.1);
    }

    #app {
        position: relative;
    }

    .section {

        position: relative;
        padding: 0;
        width: 100%;
        max-width: $container-width;
        margin: 80px auto;
        min-height: 200px;
        clear: both;
        z-index: 2;

        @include on-mobile {
            padding: 0 20px;
            margin: 40px auto;
        }

        &__title {

            font-size: 1.3rem;
            position: relative;
            color: $color-black;
            margin: 30px 0;
            text-align: center;

            &:before, &:after {

                content: ' ';
                display: inline-block;
                width: 100px;
                height: 1px;
                background: $color-light;
                position: relative;
                top: -0.5ex;
                margin: 0 10px;

                @include on-mobile {
                    width: 20px;
                    background: $color-gray;
                }

            }

            &__icon {
                width: 40px;
                height: 40px;
                margin: -5px 10px 0 10px;
                vertical-align: middle;

                @include on-mobile {
                    width: 20px;
                    height: 20px;
                }
            }

        }

        &__description {
            margin-bottom: 40px;
            text-align: justify;
            color: $color-gray;
        }

    }

</style>
