<template>
    <div class="locale-switcher">

        <div v-for="locale in getAvailableLocales()"
             :class="{
                'locale-switcher__item': true,
                'locale-switcher__item--active': getLocale() === locale
             }"
             @click="setLocale(locale)">
            <img :src="require(`@/assets/images/icons/flag-${locale}.png`)"
                 :alt="locale.toUpperCase()"
                 class="locale-switcher__item__image"/>
            <span class="locale-switcher__item__title">
                {{ locale.toUpperCase() }}
            </span>
        </div>

    </div>
</template>

<script>

    import {getLocale, getAvailableLocales, setLocale} from '@/scripts/translations';

    export default {

        props: {
            events: {
                type: Array,
                default: () => []
            }
        },

        methods: {

            getLocale,
            getAvailableLocales,
            setLocale

        }

    };

</script>


<style lang="scss">

    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    .locale-switcher {

        display: flex;
        flex-direction: row;

        @include on-paper {
            display: none;
        }

        &__item {
            height: 20px;
            margin: 10px 0 10px 40px;
            cursor: pointer;
            opacity: 0.5;

            &--active {
                opacity: 1;
            }

            &__image {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: 1px solid $color-dark;
                vertical-align: middle;
                margin-right: 10px;
            }

            &__title {
                font-size: 0.7rem;
                font-weight: bold;
            }
        }

    }

</style>
