<template>
    <nav class="scroll-menu">
        <div v-for="item in items"
             class="scroll-menu__item"
             :style="getItemStyle(item)"
             @click="scrollToItem(item)">
            <span class="scroll-menu__item__title">
                {{ item.title }}
            </span>
            <img v-if="item.icon"
                 :src="item.icon"
                 :alt="item.title"
                 class="scroll-menu__item__icon"/>
        </div>
    </nav>
</template>

<script>

    import items from '@/config/menu';

    export default {

        props: {
            offset: {
                type: Number,
                default: 20
            }
        },

        data(){
            return {
                items
            };
        },

        methods: {

            scrollToItem(item) {
                let element = document.querySelector(item.selector);
                if (!element) {
                    return;
                }
                window.scrollTo({
                    top: element.offsetTop - this.offset,
                    behavior: 'smooth'
                });
            },

            getItemStyle(item) {
                let element = document.querySelector(item.selector);
                if (!element) {
                    return null;
                }
                return {
                    top: (element.offsetTop / document.documentElement.offsetHeight * 100) + '%'
                };
            },

            update() {
                this.$forceUpdate();
            }

        },

        mounted() {
            window.addEventListener('load', this.update);
            this.update();
        }

    };

</script>

<style lang="scss">

    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    .scroll-menu {

        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        right: 0;
        top: 0;
        height: 100%;
        text-align: left;
        z-index: 100;

        @include on-mobile {
            display: none;
        }

        @include on-paper {
            display: none;
        }

        &__item {

            position: absolute;
            right: 0;
            width: auto;
            white-space: nowrap;
            margin: 0;
            padding: 10px;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
            opacity: 0.3;
            transition: 0.2s opacity;

            &:hover {
                opacity: 1;
            }

            &__title {
                display: inline-block;
                color: $color-dark;
                font-weight: bold;
                font-size: 0.8rem;
                width: 0;
                overflow: hidden;
                text-align: right;
                transition: 0.2s width;
            }

            &:last-child {
                margin-top: -25px;
            }

            &:hover &__title {
                width: 100px;
            }

            &__icon {
                width: 15px;
                height: 15px;
                margin: -5px 10px 0 10px;
                vertical-align: middle;
                filter: grayscale(100%) brightness(0%);
            }

        }

    }

</style>
