<template>
    <section class="scroll-background">
        <div ref="top" class="scroll-background__top"></div>
        <div ref="bottom" class="scroll-background__bottom"></div>
    </section>
</template>

<script>

    export default {

        props: {
            speed: {
                type: Number,
                default: 0.2,
                validator: speed => speed >= 0 && speed <= 1
            }
        },

        mounted() {
            window.addEventListener('scroll', () => {
                let factor = 1 - this.speed;
                let scrollTop = window.scrollY * factor;
                let scrollBottom = -(document.documentElement.scrollHeight - window.innerHeight - window.scrollY) * factor;
                if (this.$refs.top) {
                    this.$refs.top.style.backgroundPositionY = scrollTop + 'px';
                }
                if (this.$refs.bottom) {
                    this.$refs.bottom.style.backgroundPositionY = scrollBottom + 'px';
                }
                document.body.style.backgroundPositionY = scrollTop + 'px';
            });
        }

    };

</script>

<style lang="scss">

    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    body {
        @include on-screen {
            background: $color-white url(~@/assets/images/background.png) top center repeat;
        }
    }

    .scroll-background {

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include on-paper {
            position: fixed;
            background: $color-white url(~@/assets/images/background-print.png) top center repeat;
        }

        &__top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 600px;
            background: transparent url(~@/assets/images/background-top.png) top center repeat-x;
            mask-image: linear-gradient(to bottom, rgba($color-black, 1), rgba($color-black, 0));

            @include on-paper {
                display: none;
            }
        }

        &__bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 600px;
            background: transparent url(~@/assets/images/background-bottom.png) bottom center repeat-x;
            mask-image: linear-gradient(to top, rgba($color-black, 1), rgba($color-black, 0));

            @include on-paper {
                display: none;
            }
        }

    }

</style>