<template>
    <section class="section about-me">

        <h2 class="section__title">
            <img src="@/assets/images/icons/about-me.png"
                 :alt="__('Icon')"
                 class="section__title__icon">
            {{ __('About me') }}
        </h2>

        <div class="about-me__container">

            <img src="@/assets/images/photo.png"
                 :alt="__('Photo')"
                 class="about-me__photo"/>

            <p class="about-me__text">
                {{ __('{about-me}') }}
            </p>

            <p class="about-me__contacts">
                <span class="about-me__contact about-me__contact--email">
                    <img src="@/assets/images/icons/email.png"
                         :alt="__('Icon')"
                         class="about-me__contact__icon"/>
                    {{ __('Email') }}:
                    <a :href="`mailto:${emailAddress}`"
                       class="about-me__link">
                        {{ emailAddress }}
                    </a>
                </span>
                <span class="about-me__contact about-me__contact--phone">
                    <img src="@/assets/images/icons/phone.png"
                         :alt="__('Icon')"
                         class="about-me__contact__icon"/>
                    {{ __('Phone') }}:
                    <a :href="`tel:${phoneNumber}`"
                       class="about-me__link">
                        {{ phoneNumber }}
                    </a>
                </span>
                <span class="about-me__contact about-me__contact--website">
                    <img src="@/assets/images/icons/link.png"
                         :alt="__('Icon')"
                         class="about-me__contact__icon"/>
                    {{ __('Website') }}:
                    <a :href="websiteUrl"
                       class="about-me__link">
                        {{ websiteHost }}
                    </a>
                </span>
                <span class="about-me__contact about-me__contact--cv">
                    <img src="@/assets/images/icons/link.png"
                         :alt="__('Icon')"
                         class="about-me__contact__icon"/>
                    {{ __('CV') }}:
                    <a :href="cvUrl"
                       class="about-me__link">
                        {{ __('Download') }}
                    </a>
                </span>
            </p>

        </div>

    </section>
</template>

<script>

    import contact from '@/config/contact';
    import {getLocale} from "@/scripts/translations";

    export default {

        data() {
            return {
                emailAddress: contact.emailAddress,
                phoneNumber: contact.phoneNumber,
                websiteUrl: contact.websiteUrl
            }
        },

        computed: {

            websiteHost(){
                let a = document.createElement('a');
                a.href = this.websiteUrl;
                return a.hostname;
            },

            cvUrl(){
                return `/${contact.fullName} CV (${getLocale().toUpperCase()}).pdf`;
            }

        }

    };

</script>

<style lang="scss">

    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    .about-me {

        @include on-paper {
            margin: 50px auto 150px !important;
        }

        &__container {
            margin: 0 auto -180px;
            position: relative;
            float: left;
            top: -150px;

            @include on-mobile {
                margin: 0 auto;
                top: 0;
            }
        }

        &__text {
            text-align: justify;
            padding-top: 150px;
            margin-left: auto;

            @include on-mobile {
                padding-top: 0;
            }
        }

        &__contacts {
            margin: 30px 0;
        }

        &__contact {
            text-align: right;
            font-weight: bold;
            margin: 10px 0;
            width: 100%;
            display: block;

            &__icon {
                width: 20px;
                height: 20px;
                vertical-align: middle;
                margin: -3px 5px 0 0;
            }

            &--website {
                @include on-screen {
                    display: none;
                }
            }
            
            &--cv {
                @include on-paper {
                    display: none;
                }
            }
        }

        &__photo {

            position: relative;
            width: 160px;
            height: 510px;
            z-index: 10;
            float: right;
            shape-outside: ellipse(50% 50% at 50% 50%);
            shape-margin: 0;
            margin: 0 0 0 40px;

            @include on-mobile {
                width: 80px;
                height: 250px;
                margin: 0 0 0 25px;
            }
        }

    }

</style>
