<template>
    <section class="section experience">

        <h2 class="section__title">
            <img src="@/assets/images/icons/experience.png"
                 :alt="__('Icon')"
                 class="section__title__icon">
            {{ __('Experience') }}
        </h2>

        <p class="section__description">
            {{ __('{experience}') }}
        </p>

        <time-line :events="events"
                   class="experience__timeline"/>

    </section>
</template>

<script>

    import TimeLine from '@/components/TimeLine.vue';
    import events from '@/config/experience';

    export default {

        components: {
            TimeLine
        },

        data() {
            return {
                events: events
            };
        }

    };

</script>

<style lang="scss">

    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    .experience {

        @include on-paper {
            margin-top: 250px !important;
        }

        &__timeline {
            @include on-paper {
                margin-top: 20px;
                page-break-before: always;
                page-break-after: always;
            }
        }

    }

</style>