<template>
    <section class="section technologies">

        <h2 class="section__title">
            <img src="@/assets/images/icons/technologies.png"
                 :alt="__('Icon')"
                 class="section__title__icon">
            {{ __('Technologies') }}
        </h2>

        <p class="section__description">
            {{ __('{technologies}') }}
        </p>

        <div class="technologies__container">

            <div class="technologies__tabs">
                <div v-for="technology in technologies"
                     :class="{
                        'technologies__tab': true,
                        'technologies__tab--selected': isTechnologySelected(technology)
                     }"
                     @click="selectTechnology(technology)">
                    <img :src="technology.image"
                         :alt="technology.name"
                         class="technologies__tab__logo"/>
                    <span class="technologies__tab__name">
                        {{ technology.name }}
                    </span>
                </div>
            </div>

            <div class="technologies__code-editor">
                <div class="technologies__code-editor__container">
                    <div class="technologies__code-editor__title">
                        {{ selectedTechnology.name }}
                    </div>
                    <keep-alive>
                        <code-highlight :language="selectedTechnology.language"
                                        :key="selectedTechnology.name"
                                        class="technologies__code-editor__container">{{ selectedTechnology.code }}
                        </code-highlight>
                    </keep-alive>
                </div>
            </div>

        </div>

    </section>
</template>

<script>

    import technologies from '@/config/technologies';
    import {component as CodeHighlight} from 'vue-code-highlight';
    import 'prism-es6/components/prism-typescript';
    import 'prism-es6/components/prism-markup-templating';
    import 'prism-es6/components/prism-php';
    import 'prism-es6/components/prism-scss';
    import 'prism-es6/components/prism-sql';
    import 'prism-es6/components/prism-json';
    import 'prism-es6/components/prism-bash';

    export default {

        components: {
            CodeHighlight
        },

        data(){
            return {
                technologies: technologies,
                selectedTechnology: technologies[0]
            };
        },

        methods: {

            selectTechnology(technology) {
                this.selectedTechnology = technology;
            },

            isTechnologySelected(technology) {
                return this.selectedTechnology === technology;
            }

        }

    };

</script>


<style lang="scss">

    @import '~@/styles/prism.css';
    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    $color-background: #263238;
    $color-highlight: #4d5f68;

    .technologies {

        &__container {
            display: flex;
            align-items: stretch;
            justify-content: center;

            @include on-mobile {
                flex-direction: column;
            }
        }

        &__tabs {
            width: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 10px;

            @include on-mobile {
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
            }

            @include on-paper {
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                justify-items: center;
                align-items: center;
            }
        }

        &__tab {

            width: 100%;
            height: 80px;
            text-align: center;
            padding: 20px 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            transition: 0.2s background-color;

            @include on-mobile {
                width: auto;
            }

            @include on-paper {
                width: auto;
                padding-left: 20px;
            }

            &__logo {
                width: 50px;
                height: 50px;
                margin-bottom: 10px;
                filter: grayscale(100%);
                transition: 0.2s filter;
            }

            &__name {
                display: none;

                @include on-paper {
                    display: inline-block;
                    font-size: 0.8rem;
                    margin-left: 10px;
                    width: 100px;
                    text-align: left;
                }
            }

            &:hover &__logo {
                @include on-screen {
                    filter: none;
                }
            }

            &--selected {
                @include on-screen {
                    background: rgba($color-gray, 0.2);
                }
            }

            &--selected &__logo {
                @include on-screen {
                    filter: none;
                }
            }

        }

        &__code-editor {

            position: relative;
            background: $color-background;
            border-radius: 5px;
            width: 90%;
            padding: 30px;
            overflow: unset;

            @include on-mobile {
                margin-top: 20px;
                padding: 20px;
                width: 100%;
            }

            &__title {
                position: relative;
                height: 50px;
                margin-bottom: 30px;
                color: $color-highlight;
                text-align: left;
                font-weight: bold;
                font-size: 1.5rem;
                border-bottom: 3px solid $color-highlight;
            }

            &__container {
                position: sticky;
                top: 20px;
            }

            @include on-paper {
                display: none;
            }
        }

    }

</style>
