<template>
    <footer class="footer">

        <section class="footer__clause">
            {{ __('{clause}') }}
        </section>

        <section class="footer__section">
            {{ __('Copyright :year by :fullName', {fullName, year}) }}
        </section>

        <section class="footer__section">
            <a :href="repositoryUrl">
                {{ __('Source Code') }}
            </a>
        </section>

    </footer>
</template>

<script>

    import contact from '@/config/contact';

    export default {

        data(){
            return {
                fullName: contact.fullName,
                repositoryUrl: contact.repositoryUrl,
                year: new Date().getFullYear()
            }
        }

    };

</script>

<style lang="scss">

    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    .footer {

        text-align: center;
        font-weight: bold;
        padding: 40px 0;
        display: flex;
        justify-content: center;

        @include on-mobile {
            flex-direction: column;
        }

        &__section {
            &:first-of-type:before, &:after {
                content: '•';
                margin: 0 10px;
            }

            @include on-mobile {
                margin-top: 10px;

                &:before, &:after {
                    content: '•';
                    margin: 0 10px;
                }
            }

            @include on-paper {
                display: none;
            }
        }

        &__clause {
            display: none;

            @include on-paper {
                display: block;
                font-size: 0.6rem;
                text-align: justify;
                color: $color-light;
            }
        }

    }

</style>
