<template>
    <header class="header">

        <div class="header__container">

            <h1 class="header__title">
                <img src="@/assets/images/logo.png"
                     :alt="__('Logo')"
                     class="header__logo"/>
                {{ fullName }}
            </h1>

            <locale-switcher class="header__locale-switcher"/>

        </div>

    </header>
</template>

<script>

    import LocaleSwitcher from '@/components/LocaleSwitcher';
    import contact from '@/config/contact';

    export default {

        components: {
            LocaleSwitcher
        },

        data() {
            return {
                fullName: contact.fullName
            }
        },

        created() {
            document.title = this.fullName;
        }

    };

</script>

<style lang="scss">

    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    .header {

        z-index: 1;
        top: 0;
        width: 100%;
        height: 200px;
        padding-top: 20px;
        text-align: center;
        border-top: 5px solid $color-dark;

        @include on-mobile {
            height: 150px;
        }

        @include on-paper {
            border-top: none;
        }

        &__container {
            position: relative;
            max-width: $container-width;
            padding-right: 300px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 100%;
            z-index: 2;

            @include on-mobile {
                align-items: center;
                padding-right: 0;
                height: 100px;
            }

            @include on-paper {
                align-items: center;
                padding-right: 0;
                height: 100px;
            }
        }

        &__title {
            font-size: 3rem;
            font-weight: bold;
            margin-top: 0;
            margin-left: -200px;
            color: $color-dark;

            @include on-mobile {
                font-size: 2rem;
                margin: 10px 0;
            }

            @include on-paper {
                font-size: 2rem;
                margin: 10px 0;
            }
        }

        &__logo {
            width: 100px;
            margin: 0 20px -40px 0;

            @include on-mobile {
                width: 50px;
                margin: 0 20px -10px 0;
            }
        }

    }

</style>
