<template>
    <section class="section projects">

        <h2 class="section__title">
            <img src="@/assets/images/icons/projects.png"
                 :alt="__('Icon')"
                 class="section__title__icon">
            {{ __('Projects') }}
        </h2>

        <p class="section__description">
            {{ __('{projects}') }}
        </p>

        <div v-for="project in projects"
             :class="{
                'projects__project': true,
                'projects__project--selected': isProjectSelected(project)
            }"
             @click.stop="selectProject(project)">

            <header class="projects__project__name">
                {{ project.name }}
            </header>

            <div class="projects__project__images">
                <img v-for="image in project.images"
                     :src="image"
                     :alt="project.name"
                     class="projects__project__image"/>
            </div>

            <p class="projects__project__description"
               v-html="project.description">
            </p>

        </div>

    </section>
</template>

<script>

    import projects from '@/config/projects';

    export default {

        data() {
            return {
                projects: projects,
                selectedProject: null
            };
        },

        methods: {

            selectProject(project) {
                this.selectedProject = project;
            },

            isProjectSelected(project) {
                return this.selectedProject === project;
            },

            deselectProjects() {
                this.selectedProject = null;
            }

        },

        mounted() {
            document.addEventListener('click', this.deselectProjects);
        },

        beforeDestroy() {
            document.removeEventListener('click', this.deselectProjects);
        }

    };

</script>

<style lang="scss">

    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    $perspective: 800px;
    $rotationX: 10deg;
    $rotationXHover: 5deg;
    $scale: 0.7;
    $scaleHover: 0.75;
    $scaleMobile: 0.95;

    .projects {

        @include on-paper {
            page-break-before: always;
            margin-bottom: 0 !important;
        }

        &__project {
            position: relative;
            width: 100%;
            height: auto;
            background: rgba($color-light, 0.2);
            padding: 20px;
            margin: -7.5% auto;
            transition: 0.5s all;
            text-align: center;
            cursor: pointer;
            border-radius: 10px;

            &:nth-child(2n + 1) {
                transform: scale(#{$scale}) perspective(#{$perspective}) rotateX(#{$rotationX});

                &:hover {
                    transform: scale(#{$scaleHover}) perspective(#{$perspective}) rotateX(#{$rotationXHover});
                }

                @include on-mobile {
                    transform: scale(#{$scaleMobile}) perspective(#{$perspective}) rotateX(#{$rotationX});
                    margin: 0 auto 20px;
                }
            }

            &:nth-child(2n) {
                transform: scale(#{$scale}) perspective(#{$perspective}) rotateX(#{-$rotationX});

                &:hover {
                    transform: scale(#{$scaleHover}) perspective(#{$perspective}) rotateX(#{-$rotationXHover});
                }

                @include on-mobile {
                    transform: scale(#{$scaleMobile}) perspective(#{$perspective}) rotateX(#{-$rotationX});
                    margin: 0 auto;
                }
            }

            @include on-mobile {
                padding: 10px;
            }

            @include on-paper {
                display: inline-block;
                width: calc(25% - 20px);
                transform: none !important;
                margin: 10px;
                padding: 0;
                vertical-align: top;
                background: none;
            }

            &--selected {
                transform: none !important;
                filter: none !important;
                width: 100%;
                margin: 5% auto;
            }

            &__name {
                text-align: center;
                margin: 10px 0;
                font-size: 1.5rem;
                font-weight: bold;

                @include on-paper {
                    font-size: 1.2rem;
                }
            }

            &__image {
                width: calc(50% - 20px);
                min-height: 180px;
                max-height: 180px;
                margin: 10px 10px 0;
                display: inline-block;
                border: 1px solid $color-gray;
                transition: 0.5s min-height, 0.5s max-height;
                object-fit: cover;
                object-position: top center;

                @include on-mobile {
                    width: calc(100% - 20px);

                    &:nth-child(2) {
                        min-height: 0;
                        max-height: 0;
                        opacity: 0;
                    }
                }

                @include on-paper {
                    width: calc(100% - 20px);
                    min-height: 140px;
                    max-height: 140px;
                    margin: 0;

                    &:nth-child(2) {
                        min-height: 0;
                        max-height: 0;
                        opacity: 0;
                    }
                }
            }

            &--selected &__image {
                max-height: 500px;
                opacity: 1;
            }

            &__description {
                text-align: justify;
                font-size: 0.9rem;
                opacity: 0;
                margin: 0;
                max-height: 0;
                transition: 0.5s opacity, 0.5s margin, 0.5s max-height;
                overflow: hidden;

                @include on-paper {
                    display: none;
                }
            }

            &--selected &__description {
                max-height: 500px;
                margin: 10px;
                opacity: 1;
            }

        }

    }

</style>