<template>
    <div class="timeline">

        <div class="timeline__years">
            <div v-for="year in years"
                 class="timeline__year">
                {{ year }}
            </div>
        </div>

        <div class="timeline__months">
            <template v-for="year in years">
                <div v-for="month in months"
                     :class="{
                        'timeline__month': true,
                        ['timeline__month--' + month.season]: true,
                        'timeline__month--first': month.index === 1,
                        'timeline__month--active': selectedEvent && isMonthActive(year, month.index),
                        'timeline__month--inactive': selectedEvent && !isMonthActive(year, month.index)
                     }">
                    <span class="timeline__month__name">
                        {{ month.name }}
                    </span>
                </div>
            </template>
        </div>

        <div class="timeline__events">
            <div v-for="event in events"
                 :class="{
                    'timeline__event': true,
                    'timeline__event--active': selectedEvent && isEventActive(event),
                    'timeline__event--inactive': selectedEvent && !isEventActive(event)
                 }"
                 :style="getEventStyle(event)"
                 @mouseenter="selectEvent(event)"
                 @mouseleave="deselectEvents">
                <div class="timeline__event__container">
                    <div class="timeline__event__title">
                        {{ event.title }}
                    </div>
                    <div class="timeline__event__date">
                        <template v-if="event.begin === event.end">
                            ({{ event.begin }})
                        </template>
                        <template v-else>
                            ({{ event.begin }} - {{ event.end }})
                        </template>
                    </div>
                    <template v-if="event.description">
                        <div v-for="line in getDescriptionLines(event.description)"
                             class="timeline__event__description">
                            {{ line }}
                        </div>
                    </template>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import months from '@/config/months';

    export default {

        props: {
            events: {
                type: Array,
                required: true
            }
        },

        data() {
            return {
                selectedEvent: null,
                months
            };
        },

        computed: {

            firstYear() {
                return Math.min(...this.events.map(event => {
                    return parseInt(event.begin.split('-')[0]);
                }));
            },

            lastYear() {
                return Math.max(...this.events.map(event => {
                    return parseInt(event.end.split('-')[0]);
                }));
            },

            years() {
                let years = [];
                for (let year = this.firstYear; year <= this.lastYear; year++) {
                    years.push(year);
                }
                return years;
            }

        },

        methods: {

            getYearIndex(year) {
                return this.years.indexOf(year);
            },

            getMonthIndex(year, month) {
                let yearIndex = this.getYearIndex(year);
                return yearIndex * 12 + (parseInt(month) - 1);
            },

            getDateIndex(date) {
                let [year, month] = date.split('-');
                return this.getMonthIndex(parseInt(year), parseInt(month));
            },

            selectEvent(event) {
                this.selectedEvent = event;
                this.$forceUpdate();
            },

            deselectEvents() {
                this.selectedEvent = null;
                this.$forceUpdate();
            },

            isMonthActive(year, month) {
                if (!this.selectedEvent) {
                    return false;
                }
                let beginIndex = this.getDateIndex(this.selectedEvent.begin);
                let endIndex = this.getDateIndex(this.selectedEvent.end);
                let monthIndex = this.getMonthIndex(year, month);
                return monthIndex >= beginIndex && monthIndex <= endIndex;
            },

            isEventActive(event) {
                return this.selectedEvent === event;
            },

            getEventStyle(event) {
                return {
                    '--event-begin': this.getDateIndex(event.begin),
                    '--event-end': this.getDateIndex(event.end)
                };
            },

            getDescriptionLines(description) {
                return description.toString().split('\n');
            }

        }

    };

</script>


<style lang="scss">

    @import '~@/styles/variables.scss';
    @import '~@/styles/mixins.scss';

    $color-winter: #5ac;
    $color-spring: #8c4;
    $color-summer: #cc2;
    $color-autumn: #d84;

    .timeline {

        position: relative;
        margin: 0 auto;
        text-align: left;
        display: flex;
        cursor: default;

        --month-height: 18px;

        @include on-paper {
            --month-height: 12px;
        }

        &__years {
            width: 10%;
            z-index: 1;

            @include on-mobile {
                position: absolute;
                margin-left: 15px;
                font-size: 0.8rem;
            }
        }

        &__year {
            height: calc(var(--month-height) * 12);
            line-height: 30px;
            text-align: right;
            padding-right: 20px;
            position: relative;
            width: 100%;
            z-index: 2;
            margin-top: -5px;
            margin-bottom: 5px;
        }

        &__months {
            width: 20%;
            z-index: 2;
            border-left: 1px solid $color-light;
        }

        &__month {

            position: relative;
            width: 100%;
            height: var(--month-height);
            line-height: var(--month-height);
            padding-left: 20px;
            font-size: 0.7rem;
            color: $color-light;
            font-weight: bold;
            transition: 0.1s opacity;

            @include on-mobile {
                padding-left: 10px;
            }

            @include on-paper {
                font-size: 0.6rem;
            }

            &__name {
                @include on-mobile {
                    display: none;
                }
            }

            &__date {
                display: none;

                @include on-mobile {
                    display: inline;
                }
            }

            &:before {
                content: ' ';
                position: absolute;
                left: -3px;
                top: calc(var(--month-height) / 2 - 3px);
                width: 5px;
                height: 5px;
                border-radius: 100%;
            }

            &--first:before {
                margin: -2px 0 0 -2px;
                width: 9px;
                height: 9px;
            }

            &--winter:before {
                background-color: $color-winter;
            }

            &--spring:before {
                background-color: $color-spring;
            }

            &--summer:before {
                background-color: $color-summer;
            }

            &--autumn:before {
                background-color: $color-autumn;
            }

            &--inactive {
                opacity: 0.5;

                @include on-paper {
                    opacity: 1;
                }
            }

        }

        &__events {
            position: relative;
            width: 70%;
            z-index: 3;

            @include on-mobile {
                width: 85%;
            }
        }

        &__event {

            width: 100%;
            position: absolute;
            top: calc(var(--month-height) * var(--event-begin));
            height: calc(var(--month-height) * (var(--event-end) - var(--event-begin) + 1));
            padding: 10px 10px 10px 20px;
            color: $color-light;
            font-weight: bold;
            transition: 0.1s opacity, 0.1s margin-left;
            display: flex;
            align-items: center;

            @include on-mobile {
                width: auto;
            }

            &:before {
                content: ' ';
                position: absolute;
                top: 2px;
                left: -20px;
                width: 20px;
                height: calc(100% - 4px);
                border-style: solid;
                border-color: $color-gray;
                border-width: 1px 1px 1px 0;
                border-radius: 0 10px 10px 0;
                mask-image: linear-gradient(to left, rgba($color-black, 1) 50%, rgba($color-black, 0) 100%);
                transition: 0.1s width, 0.1s left;
            }

            &--active {
                &:before {
                    @include on-screen {
                        width: 30%;
                        left: -30%;
                    }
                }
            }

            &--active &__description {
                @include on-screen {
                    color: $color-primary;
                }
            }

            &--inactive {
                @include on-screen {
                    opacity: 0.5;
                }
            }

            &__container {
                position: relative;
            }

            &__title {
                font-size: 1.5rem;
                white-space: nowrap;
                color: $color-dark;
                transition: 0.1s color;

                @include on-paper {
                    font-size: 1.2rem;
                }

                &:before {
                    content: ' ';
                    position: absolute;
                    left: -20px;
                    top: 5px;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid $color-gray;
                    transition: 0.1s border-left-color, 0.1s background;

                    @include on-paper {
                        display: none;
                    }
                }
            }

            &__date {
                color: $color-light;
                font-size: 0.8rem;
                font-weight: bold;
                margin-bottom: 5px;
            }

            &__description {
                transition: 0.1s color;
                margin-bottom: 5px;
                position: relative;
                color: $color-gray;
                font-size: 0.9rem;

                &:before {
                    content: ' ';
                    position: absolute;
                    left: -20px;
                    top: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid $color-gray;
                    transition: 0.1s border-left-color;
                }

                @include on-mobile {
                    font-size: 0.7rem;
                }

                @include on-paper {
                    font-size: 0.7rem;
                }
            }

        }

    }

</style>
